<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-left" ><%= link_to "Cocktails", root_path %></a>
    <button class="btn btn-outline-light" type="submit"><%= link_to "Add your own cocktail", new_cocktail_path %></button>
  </div>
</nav>
    
<div class="container-all">
  <h1> Imagine. Feel. Enjoy.</h1>
  <p>Are you single? In couple? Whatever, we do not we discriminate. Come to spend a unique night, with the best drinks</p>

  <div class="container">
    <div class="d-flex">

      <% @cocktails.each do |cocktail| %>
        <div class="card">
          <img src="https://source.unsplash.com/featured/?=<%=cocktail.name%>" class="card-img-top" alt=<%="#{cocktail.name}"%>>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "cocktail" %>
            </h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<footer>

</footer>
