<nav class="navbar d-flex justify-content-between">
  <%= link_to "Cocktails", root_path, class: "btn btn-ghost" %>
</nav>

<div class="container-form">
  <h1> Create your cocktail</h1>
  <%= simple_form_for @cocktail, defaults: { input_html: { class: 'default_class' } } do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-ghost black" %>
  <% end %>
</div>
